<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Guidance Portal | Futa Student</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.jpeg') }}" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

    {% block style %}

    {% endblock style %}
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow-lg fixed top-0 w-full z-10">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" id="mobile-menu-button">
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                        </svg>
                        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex-shrink-0">
                        <img class="h-8 w-8" src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo">
                    </div>
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4">
                            <a href="/" class="text-gray-900 hover:bg-blue-800 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                            <a href="/course_registration" class="text-gray-900 hover:bg-blue-800 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Course Registration</a>
                            <a href="/grade_tracking" class="text-gray-900 hover:bg-blue-800 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Grade Tracking</a>
                            <a href="/doctor_medicals" class="text-gray-900 hover:bg-blue-800 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Medicals</a>
                            <a href="#" class="text-gray-900 hover:bg-blue-800 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Campus Resources</a>
                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    {% if current_user.is_authenticated %}
                    <div class="ml-3 relative">
                        <div>
                            <button type="button" class="flex ring-2 text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
                                    <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" fill="#292D32"/>
                                    <path d="M12.0002 14.5C6.99016 14.5 2.91016 17.86 2.91016 22C2.91016 22.28 3.13016 22.5 3.41016 22.5H20.5902C20.8702 22.5 21.0902 22.28 21.0902 22C21.0902 17.86 17.0102 14.5 12.0002 14.5Z" fill="#292D32"/>
                                </svg>
                            </button>
                        </div>
                        <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" id="user-menu">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem"> Profile</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>
                            <a href="/logout" id="logoutButton" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</a>
                        </div>
                    </div>
                    {% else %}
                    <button id="login-button" class="text-gray-900 hover:bg-blue-800 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</button>
                    <button id="signup-button" class="text-gray-900 hover:bg-blue-800 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sign Up</button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
                <a href="/" class="text-gray-900 hover:bg-blue-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Home</a>
                <a href="/course_registration" class="text-gray-900 hover:bg-blue-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Course Registration</a>
                <a href="/grade_tracking" class="text-gray-900 hover:bg-blue-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Grade Tracking</a>
                <a href="/doctor_medicals" class="text-gray-900 hover:bg-blue-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Medicals</a>
                <a href="#" class="text-gray-900 hover:bg-blue-800 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Campus Resources</a>
            </div>
        </div>
    </nav>

    

   <!--- notification-message-->
    <div id="notification" class="fixed top-0 inset-x-0 p-4 bg-red-600 text-white text-center transform -translate-y-full transition-transform duration-300">
        <span id="notification-message"></span>
    </div>

    {% include "Authentication/index.html" %}
    {% block content %}{% endblock content %}
    {% include "chat_bot/index.html" %}
    <footer class="bg-gray-900 text-white mt-20">
        <div class="container mx-auto py-8 px-4 ">
            <div class="flex flex-wrap justify-start gap-4">
                <div class="w-full md:w-1/2 lg:w-1/4 mb-4">
                    <h3 class="text-lg font-bold mb-2">Useful Links</h3>
                    <ul>
                        <li><a href="/course_registration" class="text-gray-300 hover:text-white">Course Registration</a></li>
                        <li><a href="/grade_tracking" class="text-gray-300 hover:text-white">Grade Tracking</a></li>
                        <li><a href="#" class="text-gray-300 hover:text-white">Academic Calendar</a></li>
                        <li><a href="#" class="text-gray-300 hover:text-white">Campus Resources</a></li>
                    </ul>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 mb-4">
                    <h3 class="text-lg font-bold mb-2">Futa-Student Guide</h3>
                    <ul>
                        <li><a href="#" class="text-gray-300 hover:text-white">Privacy Policy</a></li>
                        <li><a href="#" class="text-gray-300 hover:text-white">Admission Status</a></li>
                        <li><a href="#" class="text-gray-300 hover:text-white">Undergraduate Portal</a></li>
                    </ul>
                </div>
            </div>
            <hr class="border-gray-800 my-6">
            <p class="text-center text-sm text-gray-400">&copy; 2024 Futa Student-Guide. All rights reserved.</p>
        </div>
    </footer>
    <script src="{{url_for('static',filename='scripts/index.js')}}"></script>
</body>
</html>
